<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My ejs first Project</title>
</head>

<body>
<h1>Welcome to my ejs first project</h1>
<h2>User List</h2>
<% for(let i=0;i<users.length;i++){ %>
<p>
Name: <%= users[i].name %> |
Age: <%= users[i].age %>
</p>

<% } %>
</ul>
</body>

</html>